*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
}
header{
    background-color: rgb(255, 102, 0);
}
.container{
    max-width: 1200px;
}
.margin-zero{
    margin: 0 auto;
}
#boolean-logo{
    width: 25%;
}
.white-text{
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.head-col20{
    width: 20%;
    align-content: center;
}
.content{
font-weight: 600;
}
.head-col60{
    width: 60%;
    display: flex;
    justify-content: center;
}
.icons{
    font-size: 30px;
    text-align: right;
}
.col-33{
    width: calc(100% / 3 - 20px);
    margin: 30px 10px 20px 10px;
}
.web-image{
    width: 100%; 
}
.hearth{
    position: relative;
    bottom: 90%;
    left: 90%;
    font-size: 30px;
    padding: 3px 11px;
}
.bg-white{
    background-color: white;
}
.label-container{
    position: relative;
    bottom: 60px;
}
.label{
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}